#python
build/
dist/
__pycache__*
*.pyc
*.pyo
*.egg-info

# jupyter / ipython
.ipynb_checkpoints
Untitled*.ipynb
data/

# tests
.coverage
.hypothesis

# doc
doc/build/

# sublime
*.sublime-workspace
sftp*-config.json

# line profiler
*.lprof

# visual studio
.vs
*.pyproj
*.pyperf
*.sln

# vscode
.ropeproject

# pycharm
.idea

# data
*.zip

# mypy
.mypy_cache/

# used internally by update_requirements.py
requirements.colab.txt

*_test_types.json